<a href="https://colab.research.google.com/github/ShakilM26/Pandas/blob/main/data-cleaning-practice/weather_cleaning2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df=pd.read_csv('weather.csv')
df.set_index('Day', inplace=True)

In [ ]:
# change the data type

df['temp']=pd.to_numeric(df['temp'], errors='coerce')
df['w speed']=pd.to_numeric(df['w speed'], errors='coerce')
df

         temp  w speed     event
Day
1/1/21   32.0      6.0      Rain
1/4/21    NaN      9.0     Sunny
1/5/21   28.0      NaN      Snow
1/6/21    NaN      7.0       NaN
1/7/21   32.0      NaN      Rain
1/8/21    NaN      NaN     Sunny
1/9/21    NaN      NaN       NaN
1/10/21  34.0      6.0    Cloudy
1/11/21 -40.0     10.0     Sunny
1/12/21  29.0      NaN  No Event
1/13/21   NaN      NaN       NaN
1/14/21   NaN     18.0      Nice

In [ ]:
# Replace the negative value

df['temp']=df['temp'].replace([-40], 31)
df

         temp  w speed     event
Day
1/1/21   32.0      6.0      Rain
1/4/21    NaN      9.0     Sunny
1/5/21   28.0      NaN      Snow
1/6/21    NaN      7.0       NaN
1/7/21   32.0      NaN      Rain
1/8/21    NaN      NaN     Sunny
1/9/21    NaN      NaN       NaN
1/10/21  34.0      6.0    Cloudy
1/11/21  31.0     10.0     Sunny
1/12/21  29.0      NaN  No Event
1/13/21   NaN      NaN       NaN
1/14/21   NaN     18.0      Nice

In [ ]:
df['temp'].mean()

30.75

In [ ]:
# Interpolation have a huge power when we use it handling missing values

df.interpolate(inplace=True)
df

              temp    w speed     event
Day
1/1/21   32.000000   6.000000      Rain
1/4/21   30.000000   9.000000     Sunny
1/5/21   28.000000   8.000000      Snow
1/6/21   30.000000   7.000000       NaN
1/7/21   32.000000   6.750000      Rain
1/8/21   32.666667   6.500000     Sunny
1/9/21   33.333333   6.250000       NaN
1/10/21  34.000000   6.000000    Cloudy
1/11/21  31.000000  10.000000     Sunny
1/12/21  29.000000  12.666667  No Event
1/13/21  29.000000  15.333333       NaN
1/14/21  29.000000  18.000000      Nice

In [ ]:
# We can also change the nan value with 'No Event'

df.replace({'event': np.nan}, 'No Event', inplace=True)
df

              temp    w speed     event
Day
1/1/21   32.000000   6.000000      Rain
1/4/21   30.000000   9.000000     Sunny
1/5/21   28.000000   8.000000      Snow
1/6/21   30.000000   7.000000  No Event
1/7/21   32.000000   6.750000      Rain
1/8/21   32.666667   6.500000     Sunny
1/9/21   33.333333   6.250000  No Event
1/10/21  34.000000   6.000000    Cloudy
1/11/21  31.000000  10.000000     Sunny
1/12/21  29.000000  12.666667  No Event
1/13/21  29.000000  15.333333  No Event
1/14/21  29.000000  18.000000      Nice

In [ ]:
# We can change all No Event values into a same value

df.replace({'No Event': 'Sunny'}, inplace=True)
df

              temp    w speed   event
Day
1/1/21   32.000000   6.000000    Rain
1/4/21   30.000000   9.000000   Sunny
1/5/21   28.000000   8.000000    Snow
1/6/21   30.000000   7.000000   Sunny
1/7/21   32.000000   6.750000    Rain
1/8/21   32.666667   6.500000   Sunny
1/9/21   33.333333   6.250000   Sunny
1/10/21  34.000000   6.000000  Cloudy
1/11/21  31.000000  10.000000   Sunny
1/12/21  29.000000  12.666667   Sunny
1/13/21  29.000000  15.333333   Sunny
1/14/21  29.000000  18.000000    Nice

In [ ]:
# Still have a wrong value

df.replace({'Nice': 'Cloudy'}, inplace=True)
df

              temp    w speed   event
Day
1/1/21   32.000000   6.000000    Rain
1/4/21   30.000000   9.000000   Sunny
1/5/21   28.000000   8.000000    Snow
1/6/21   30.000000   7.000000   Sunny
1/7/21   32.000000   6.750000    Rain
1/8/21   32.666667   6.500000   Sunny
1/9/21   33.333333   6.250000   Sunny
1/10/21  34.000000   6.000000  Cloudy
1/11/21  31.000000  10.000000   Sunny
1/12/21  29.000000  12.666667   Sunny
1/13/21  29.000000  15.333333   Sunny
1/14/21  29.000000  18.000000  Cloudy

In [ ]:
# Finally we should change the data type of our numeric columns 

df['temp']=df['temp'].astype('int64')
df['w speed']=df['w speed'].astype('int64')
df

         temp  w speed   event
Day
1/1/21     32        6    Rain
1/4/21     30        9   Sunny
1/5/21     28        8    Snow
1/6/21     30        7   Sunny
1/7/21     32        6    Rain
1/8/21     32        6   Sunny
1/9/21     33        6   Sunny
1/10/21    34        6  Cloudy
1/11/21    31       10   Sunny
1/12/21    29       12   Sunny
1/13/21    29       15   Sunny
1/14/21    29       18  Cloudy